<IfModule mod_rewrite.c>
# Turn on URL rewriting
RewriteEngine On

# Do not enable rewriting for files or directories that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# For reuests that are not actual files or directories,
# Rewrite to index.php/URL
RewriteRule ^((?!index\.php).*)$ index.php/$1 [NC,L]

</IfModule>